asttokens==2.2.1
backcall==0.2.0
cffi==1.15.1
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.33
decorator==5.1.1
docopt==0.6.2
executing==1.2.0
fonttools==4.38.0
gitdb==4.0.9
GitPython==3.1.27
ipykernel==6.29.0
ipython==8.9.0
jedi==0.18.2
jsonpickle==1.5.2
kiwisolver==1.4.4
lazy-dataset @ git+https://github.com/fgnt/lazy_dataset.git@ce8a833221580242e69d43e62361adca02478f79
matplotlib==3.6.3
matplotlib-inline==0.1.6
munch==2.5.0
numpy==1.24.2
packaging==23.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.36
pure-eval==0.2.2
py-cpuinfo==8.0.0
pybind11==2.10.3
pycparser==2.21
Pygments==2.14.0
pyparsing==3.0.9
pyroomacoustics==0.7.3
PySimpleGUI==4.60.5
python-dateutil==2.8.2
sacred==0.8.2
scipy==1.10.0
six==1.16.0
smmap==5.0.0
soundfile==0.11.0
stack-data==0.6.2
traitlets==5.9.0
wcwidth==0.2.6
wincertstore==0.2
